@using GiaSuService.Configs;
@using GiaSuService.Models.EmployeeViewModel;
@using GiaSuService.Models.TutorViewModel;
@model DifferenceUpdateRequestFormViewModel

@{
    ViewData["Title"] = "Xen các thông tin đã thay đổi";
}

@{
    // Define a dictionary to map property names to display names
    Dictionary<string, string> displayNameMapping = new Dictionary<string, string>()
    {
        { "Fullname", "Họ Tên" },
        { "Birth", "Năm sinh" },
        { "Email", "Email" },
        { "Phone", "Số điện thoại" },
        { "Gender", "Giới tính" },
        { "Avatar", "Ảnh đại diện" },
        { "IdentityCard", "Số Chứng minh thư" },
        { "FrontIdentityCard", "Mặt trước CCCD" },
        { "BackIdentityCard", "Mặt sau CCCD" },
        { "College", "Đại học" },
        { "Area", "Chuyên ngành" },
        { "Additionalinfo", "Thông tin thêm" },
        { "Academicyearfrom", "Năm bắt đầu học" },
        { "Academicyearto", "Năm tốt nghiệp" },
        { "FormatAddress", "Địa chỉ" },
        { "FormatTutorType", "Loại gia sư" },
        { "FormatTeachingArea", "Các khu vực có thể dạy" },
        { "FormatGrades", "Các khối có thể dạy" },
        { "FormatSessions", "Các buổi học có thể dạy" },
        { "FormatSubjects", "Các môn học có thể dạy" }
    };
}
<!--
<div class="d-flex" style="text-align: center; justify-content:left; margin-bottom: 10px;">
    <a href="/Employee/TutorUpdateQueue" class="btn btn-primary" style="padding: 5px 5px; display: inline-block;">Quay lại danh sách gia sư muốn đổi thông tin</a>
</div>
-->
<div class="container">
    <div class="row">
        <div class="col-md-6 border-end border-dark">
            <h2>Thông tin ban đầu</h2>
            <ul class="list-unstyled">
                @foreach (var property in typeof(TutorFormUpdateProfileViewModel).GetProperties())
                {
                    if (!displayNameMapping.ContainsKey(property.Name)) continue;
                    var originalValue = property.GetValue(Model.Original);
                    var modifiedValue = property.GetValue(Model.Modified);

                    if (modifiedValue == null || originalValue == null) continue;

                    var displayName = displayNameMapping[property.Name];

                    if(property.Name.Equals("Avatar")
                    || property.Name.Equals("FrontIdentityCard")
                    || property.Name.Equals("BackIdentityCard"))
                    {
                        <li><strong>@displayName</strong>:<br /><img width="250" src="@originalValue" alt="image prepresent" /></li>
                    }
                    else if (!originalValue.Equals(modifiedValue))
                    {
                        <li><strong>@displayName</strong>: <s>@originalValue</s></li>
                    }
                    else
                    {
                        <li><strong>@displayName</strong>: @originalValue</li>
                    }
                }

            </ul>
        </div>

        <div class="col-md-6">
            <h2>Thông tin sau khi chỉnh sửa</h2>
            <ul class="list-unstyled">
                @foreach (var property in typeof(TutorFormUpdateProfileViewModel).GetProperties())
                {
                    if (!displayNameMapping.ContainsKey(property.Name)) continue;

                    var originalValue = property.GetValue(Model.Original);
                    var modifiedValue = property.GetValue(Model.Modified);
                    if (modifiedValue == null || originalValue == null) continue;

                    // Get the display name from the mapping, if it exists; otherwise, use the property name
                    var displayName = displayNameMapping[property.Name];

                    if (property.Name.Equals("Avatar")
                    || property.Name.Equals("FrontIdentityCard")
                    || property.Name.Equals("BackIdentityCard"))
                    {
                        <li><strong>@displayName</strong>: <br/> <img width="250" src="@modifiedValue" alt="image prepresent" /></li>
                    }
                    else if (!modifiedValue.Equals(originalValue))
                    {
                        <li><strong>@displayName</strong>: <b>@modifiedValue</b></li>
                    }
                    else
                    {
                        <li><strong>@displayName</strong>: @modifiedValue</li>
                    }
                }

            </ul>
        </div>
    </div>

    <form asp-action="UpdateTutorProfileInUpdateQueue" asp-controller="Employee" method="post">
        <div class="form-group row mt-2">
            <label for="Context" class="form-label fw-bold">Lý do phê duyệt:</label>
            <div class="col-sm-9">
                <textarea class="form-control customform-control" asp-for="Context" rows="4" placeholder="Nhập lý do phê duyệt"></textarea>
            </div>

            <div class="col-sm-3 mt-4 justify-content-end">
                <div class="col-auto">
                    <input type="hidden" asp-for="Modified.TutorId" />
                    <button type="submit" class="btn btn-outline-danger" name="statusType" value="@AppConfig.RegisterStatus.DENY.ToString()">Từ chối</button>
                    <button type="submit" class="btn btn-primary customstyle-button" name="statusType" value="@AppConfig.RegisterStatus.APPROVAL.ToString()">Đồng ý</button>
                  

                </div>
            </div>
        </div>
    </form>
</div>

<div class="d-flex" style="text-align: center; justify-content:left; margin-bottom: 10px;">
    <a href="/Employee/TutorUpdateQueue" class="text-decoration-none" style="padding: 5px 5px; display: inline-block;">
        <i class="fas fa-reply" aria-hidden="true"></i>
        Về trang danh sách gia sư muốn đổi thông tin
    </a>
</div>
