@using GiaSuService.Models.IdentityViewModel

@model TutorProfileViewModel
@{
    ViewData["Title"] = "Thông tin gia sư";
}

<div class="container">
    <div class="row">
        <form method="post" asp-action="TutorProfile">
            <input type="hidden" asp-for="TutorId" />
            <div class="row">
                <div class="col-md-6 border-end">
                    <h2>Thông tin tài khoản</h2>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Ngày tạo:</dt>
                        <dd class="col-sm-8">
                            @Model.Createdate.ToString("dd-MM-yyyy")
                        </dd>

                        <dt class="col-sm-4">Họ và tên:</dt>
                        <dd class="col-sm-8">@Model.Fullname</dd>

                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Model.Email</dd>

                        <dt class="col-sm-4">Số điện thoại:</dt>
                        <dd class="col-sm-8">@Model.Phone</dd>

                        <dt class="col-sm-4">Ngày sinh:</dt>
                        <dd class="col-sm-8">@Model.Birth.ToString("dd-MM-yyyy")</dd>

                        <dt class="col-sm-4">Giới tính:</dt>
                        <dd class="col-sm-8">@Model.Gender</dd>

                        <dt class="col-sm-4">Số CCCD/ CMND:</dt>
                        <dd class="col-sm-8">@Model.IdentityCard</dd>

                        <dt class="col-sm-4">Địa chỉ:</dt>
                        <dd class="col-sm-8">@Model.AddressDetail</dd>

                        <dt class="col-sm-4">CMND/CCCD mặt trước:</dt>
                        <dd class="col-sm-8">
                            <img id="frontCard" src="@Model.FrontIdentityCard" width="250" height="150" alt="Mặt trước" />
                        </dd>

                        <dt class="col-sm-4">CMND/CCCD mặt sau:</dt>
                        <dd class="col-sm-8">
                            <img id="backCard" src="@Model.BackIdentityCard" width="250" height="150" alt="Mặt sau" />
                        </dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <img src="@Model.Avatar" style="width: 200px; height: 200px;" alt="Avatar" class="img-thumbnail" />
                    </div>
                    <h2>Thông tin gia sư</h2>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-5">Trường học:</dt>
                        <dd class="col-sm-7">@Model.College</dd>

                        <dt class="col-sm-5">Chuyên ngành:</dt>
                        <dd class="col-sm-7">@Model.Area</dd>

                        <dt class="col-sm-5">Thông tin thêm:</dt>
                        <dd class="col-sm-7">@Model.Additionalinfo</dd>

                        <dt class="col-sm-5">Từ năm:</dt>
                        <dd class="col-sm-7">@Model.Academicyearfrom</dd>

                        <dt class="col-sm-5">Đến năm:</dt>
                        <dd class="col-sm-7">@Model.Academicyearto</dd>

                        <dt class="col-sm-5">Trình độ gia sư:</dt>
                        <dd class="col-sm-7">@Model.TutorType?.TypeName</dd>

                        <dt class="col-sm-5">Trạng thái đơn:</dt>
                        <dd class="col-sm-7">
                            <b>@Model.FormVietnameseStatusName</b>
                        </dd>
                        <dt class="col-sm-5">Trạng thái: </dt>
                        <dd class="col-sm-7">
                            @if (@Model.IsActive)
                            {
                                <b class="text-success">Đang hoạt động</b>
                            }
                            else
                            {
                                <b class="text-danger">Dừng hoạt động</b>
                            }
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LockEnable">Trạng thái tài khoản:</label>
                <div class="form-check form-switch">
                    <input class="form-check-input customformcheck-input" type="checkbox" asp-for="LockEnable" id="lockCheckbox" />
                    <label class="form-check-label" id="lockStatusLabel">
                        @if (@Model.LockEnable)
                        {
                            <span class="text-danger">Khóa tài khoản</span>
                        }
                        else
                        {
                            <span class="text-success">Đang hoạt động</span>
                        }
                    </label>
                </div>
                <button type="submit" class="btn btn-primary customstyle-button">Cập nhật thông tin</button>
            </div>
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var checkbox = document.getElementById("lockCheckbox");
                var label = document.getElementById("lockStatusLabel");

                checkbox.addEventListener("change", function () {
                    if (checkbox.checked) {
                        label.textContent = "Khóa tài khoản";
                        label.classList.add("text-danger");
                        label.classList.remove("text-success");
                    } else {
                        label.textContent = "Đang hoat động";
                        label.classList.remove("text-danger");
                        label.classList.add("text-success");
                    }
                });
            });
        </script>
    </div>
</div>
