@using GiaSuService.Models.EmployeeViewModel;
@using GiaSuService.Configs;
@model ContextReviewingRegister;

@{
    ViewData["Title"] = "Profile Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 border-end">
            <h2>Account Profile</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Full Name:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.Fullname</dd>
                <dt class="col-sm-4">Date of Birth:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.Birth.ToString("dd-MM-yyyy")</dd>
                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.Email</dd>
                <dt class="col-sm-4">Phone:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.Phone</dd>
                <dt class="col-sm-4">Identity Card:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.IdentityCard</dd>
                <dt class="col-sm-4">Gender:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.Gender</dd>
                <dt class="col-sm-4">Hai mặt Chứng minh thư:</dt>
                <dd class="col-sm-8 row">
                    <div class="col">
                        @if (!string.IsNullOrEmpty(Model.TutorProfileVM.FrontIdentityCard))
                        {
                            <img src="@Model.TutorProfileVM.Avatar" alt="Front ID Card" class="img-thumbnail" />
                        }
                        else
                        {
                            <span>No front ID card uploaded</span>
                        }
                    </div>
                    <div class="col">
                        @if (!string.IsNullOrEmpty(Model.TutorProfileVM.BackIdentityCard))
                        {
                            <img src="@Model.TutorProfileVM.Avatar" alt="Back ID Card" class="img-thumbnail" />
                        }
                        else
                        {
                            <span>No back ID card uploaded</span>
                        }
                    </div>

                </dd>

                <dt class="col-sm-4">Created Date:</dt>
                <dd class="col-sm-8">
                        @Model.TutorProfileVM.Createdate.ToString("dd-MM-yyyy")
                </dd>
                <dt class="col-sm-4">Address:</dt>
                <dd class="col-sm-8">@Model.TutorProfileVM.AddressDetail</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                @if (!string.IsNullOrEmpty(Model.TutorProfileVM.Avatar))
                {
                    <img src="@Model.TutorProfileVM.Avatar" alt="Avatar" class="img-thumbnail" />
                }
                else
                {
                    <span>No avatar uploaded</span>
                }
            </div>
            <h2>Tutor Profile</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-5">College:</dt>
                <dd class="col-sm-7">@Model.TutorProfileVM.College</dd>
                <dt class="col-sm-5">Area:</dt>
                <dd class="col-sm-7">@Model.TutorProfileVM.Area</dd>
                <dt class="col-sm-5">Additional Info:</dt>
                <dd class="col-sm-7">@Model.TutorProfileVM.Additionalinfo</dd>
                <dt class="col-sm-5">Academic Year (From):</dt>
                <dd class="col-sm-7">@Model.TutorProfileVM.Academicyearfrom</dd>
                <dt class="col-sm-5">Academic Year (To):</dt>
                <dd class="col-sm-7">@Model.TutorProfileVM.Academicyearto</dd>
                <dt class="col-sm-5">Type Tutor:</dt>
                <dd class="col-sm-7">@Model.TutorProfileVM.TutorType.TypeName</dd>
                <dt class="col-sm-5">Form Status:</dt>
                <dd class="col-sm-7">
                    <b>@Model.TutorProfileVM.Formstatus</b>
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="UpdateStatusTutor" asp-controller="Employee" method="post">
        <div class="form-group row mt-2">
            <label for="Context" class="form-label fw-bold">Example textarea:</label>
            <div class="col-sm-9">
                <textarea class="form-control" asp-for="Context" rows="4" placeholder="Reason for submitting"></textarea>
            </div>

            <div class="col-sm-3 mt-4 justify-content-end">
                <div class="col-auto">
                    <input type="hidden" asp-for="TutorProfileVM!.TutorId" />

                    <button type="submit" class="btn btn-primary" name="statusType" value="@AppConfig.RegisterStatus.APPROVAL.ToString()">Apply</button>
                    <button type="submit" class="btn btn-danger" name="submitType" value="@AppConfig.RegisterStatus.DENY.ToString()">Deny</button>

                </div>
            </div>
        </div>
        
        
    </form>
    
</div>