@using GiaSuService.Models.EmployeeViewModel;
@using GiaSuService.Configs;
@using GiaSuService.Models.TutorViewModel;

@model TutorRequestCardViewModel

@{
    ViewData["Title"] = "Danh sách các đơn ứng tuyển của đơn tìm gia sư";
}
<!--
<div class="d-flex" style="text-align: center; justify-content:left; margin-bottom: 10px;">
    <a href="/Employee/TutorRequestList" class="btn btn-primary" style="padding: 5px 5px; display: inline-block;">Quay lại danh sách đơn tìm gia sư đã duyệt</a>
</div>
-->

<h2>Danh sách các đơn ứng tuyển của đơn tìm gia sư #@Model.RequestId</h2>

<div class="container pt-4">
    @* <p class="card-text"><b>Trạng thái đơn tìm gia sư:</b> @Model.RequestStatus</p> *@
    <p class="card-text"><b>Môn học:</b> @Model.SubjectName</p>
    <p class="card-text"><b>Khối lớp:</b> @Model.GradeName</p>
    <p class="card-text"><b>Địa chỉ:</b> @Model.Address</p>
    <p class="card-text"><b>Các khung giờ có thể dạy:</b> @Model.SessionsCanTeach</p>
    <p class="card-text"><b>Thông tin thêm:</b> @Model.AdditionalDetail</p>
    </br>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center border-end">Ảnh đại diện</th>
                <th class="text-center border-end">Thông tin gia sư</th>
                <th class="text-center border-end">Trạng thái ứng tuyển</th>
                <th class="text-center border-end">Hành động cập nhật</th>
                <th class="text-center">Thông tin hóa đơn</th>
            </tr>
        </thead>
        <tbody id="tutor_container">
            
        </tbody>
    </table>
</div>
<div class="d-flex" style="text-align: center; justify-content:left; margin-bottom: 10px;">
    <a href="/Employee/TutorRequestList" class="text-decoration-none" style="padding: 5px 5px; display: inline-block;">
        <i class="fas fa-reply" aria-hidden="true"></i>
        Về trang danh sách đơn tìm gia sư đã duyệt
    </a>
</div>
<script>

    function getTutorsQueue() {
        let thisRequestId = @Model.RequestId;
        $.ajax({
            url: '/Employee/GetTutorsOnQueue',
            method: 'GET',
            data: { requestId: thisRequestId},
            success: function (response) {
                $("#tutor_container").empty();
                
                var requestStatus = "@Model.RequestStatus";
                console.log(requestStatus);
                console.log(response);

                $.each(response.tutors, function (index, item) {
                   
                    var currentStatus = item.statusQueue.toLowerCase();
                    var queueStatuses = response.queriesStatus;
                    var href = item.isHaveTransaction ? `/Employee/TutorTransactionDetail?tutorId=${item.tutorId}&requestId=${thisRequestId}` : "#";

                    var itemHtml = `
                    <tr>
                        <td class="border-end d-flex justify-content-center"> @* Avatar *@
                            <img src="${item.avatar}" alt="Avatar" style="width: 100px; height: 100px;" />
                        </td>
                        <td class="border-end"> @* FullName & TutorType *@
                            <div style="display:flex; flex-direction: column;">
                                    <strong>${item.fullName} 
                                    <span>
                                        <a class="" href="/Employee/TutorProfile?id=${item.tutorId}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </span>
                                    </strong>
                                <span>${item.tutorType}</span>
                              

                               @* <span><a class="" href="/Employee/TutorProfile?id=${item.tutorId}">Xem chi tiết</a><span>*@
                            </div>
                        </td>
                        <td class="text-center text-capitalize border-end"> @* Tutor Status Name in Queue *@
                            ${item.statusQueue}
                        </td>
                        <td class="border-end">
                            <div class="column d-flex justify-content-center">
                                ${requestStatus === "handover" && item.statusQueueName === "handover"
                                    ? ``
                                    : `
                                        ${item.statusQueueName === "pending"
                                            ? `<button type= "button" class="btn btn-primary customstyle-button m-1" onclick = "updateTutorStatus(${item.tutorId}, ${thisRequestId}, 'approval')" >
                                                    Đồng ý duyệt
                                                </button>`
                                            : ``
                                        }
                                    `
                                }
                            </div>
                        </td>
                        <td>
                                <div class="h-100 d-flex justify-content-center text-center">
                                <a href="${href}" class="btn btn-info ${item.isHaveTransaction ? '' : 'disabled'}">Xem hoá đơn</a>
                            </div>
                        </td>
                    </tr>`;
                    $("#tutor_container").append(itemHtml);
                })
            },
            error: function (xhr, status, error) {
                // Handle error if needed
                console.error('Error:', error);
            }
        })
    }
    getTutorsQueue();
    function updateTutorStatus(tutorId, requestId, newStatusName) {
        // Get the value of the selected option
        // var selectedValue = document.getElementById(selectId).value;

        // Use the selectedValue as needed (e.g., send it to the server via AJAX)
        //console.log("Selected value:", selectedValue);

        // Call your function to update the tutor status passing the selected value, tutorId, and requestId
        $.ajax({
            url: '/Employee/UpdateTutorStatus',
            method: 'POST',
            data: { tutorId: tutorId, requestId: requestId, newStatus: newStatusName },
            success: function(data){
                console.log(data);
                if (data.success) {
                    toastr["success"](data.message);
                }
                else {
                    toastr["error"](data.message);
                }
                getTutorsQueue();
            },
            error: function (xhr, status, error) {
                // Handle error if needed
                console.error('Error:', error);
            }
        })
    }
</script>