@model GiaSuService.Models.EmployeeViewModel.TutorProfileInEmployeeViewModel

@{
    ViewData["Title"] = "Profile Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 border-end">
            <h2>Account Profile</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Full Name:</dt>
                <dd class="col-sm-8">@Model.Fullname</dd>
                <dt class="col-sm-4">Date of Birth:</dt>
                <dd class="col-sm-8">@Model.Birth.ToString("dd-MM-yyyy")</dd>
                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@Model.Email</dd>
                <dt class="col-sm-4">Phone:</dt>
                <dd class="col-sm-8">@Model.Phone</dd>
                <dt class="col-sm-4">Identity Card:</dt>
                <dd class="col-sm-8">@Model.Identitycard</dd>
                <dt class="col-sm-4">Gender:</dt>
                <dd class="col-sm-8">@Model.Gender</dd>
                <dt class="col-sm-4">Hai mặt Chứng minh thư:</dt>
                <dd class="col-sm-8 row">
                    <div class="col">
                        @if (!string.IsNullOrEmpty(Model.Frontidentitycard))
                        {
                            <img src="@Model.Avatar" alt="Front ID Card" class="img-thumbnail" />
                        }
                        else
                        {
                            <span>No front ID card uploaded</span>
                        }
                    </div>
                    <div class="col">
                        @if (!string.IsNullOrEmpty(Model.Backidentitycard))
                        {
                            <img src="@Model.Avatar" alt="Back ID Card" class="img-thumbnail" />
                        }
                        else
                        {
                            <span>No back ID card uploaded</span>
                        }
                    </div>

                </dd>

                <dt class="col-sm-4">Created Date:</dt>
                <dd class="col-sm-8">
                    @if (Model.Createdate.HasValue)
                    {
                        @Model.Createdate.Value.ToString("dd-MM-yyyy")
                    }
                    else
                    {
                        <span>Not available</span>
                    }
                </dd>
                <dt class="col-sm-4">Address:</dt>
                <dd class="col-sm-8">@Model.Address</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <img src="@Model.Avatar" alt="Avatar" class="img-thumbnail" />
                }
                else
                {
                    <span>No avatar uploaded</span>
                }
            </div>
            <h2>Tutor Profile</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">College:</dt>
                <dd class="col-sm-8">@Model.College</dd>
                <dt class="col-sm-4">Area:</dt>
                <dd class="col-sm-8">@Model.Area</dd>
                <dt class="col-sm-4">Additional Info:</dt>
                <dd class="col-sm-8">@Model.Additionalinfo</dd>
                <dt class="col-sm-4">Academic Year (From):</dt>
                <dd class="col-sm-8">@Model.Academicyearfrom</dd>
                <dt class="col-sm-4">Academic Year (To):</dt>
                <dd class="col-sm-8">@Model.Academicyearto</dd>
                <dt class="col-sm-4">Current Status:</dt>
                <dd class="col-sm-8">@Model.Currentstatus</dd>
                <dt class="col-sm-4">Form Status:</dt>
                <dd class="col-sm-8">
                    <b>@Model.Formstatus.ToString()</b>
                </dd>
            </dl>
        </div>
    </div>

    <div class="row mt-4 justify-content-end">
        <div class="col-auto">
            <a href="@Url.Action("ApplyTutor", "Employee", new {id = @Model.TutorId})" class="btn btn-primary">Apply</a>
            <a href="@Url.Action("DenyTutor", "Employee", new {id = @Model.TutorId})" class="btn btn-danger">Deny</a>
        </div>
    </div>
</div>