@using GiaSuService.Models.AdminViewModel;
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegisterEmployeeViewModel
@{
}

<h1>Registration Form</h1>
<form asp-action="Register" asp-controller="Admin" method="post" >
    <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" class="form-control" id="fullName" placeholder="Enter your full name" asp-for="RegisterForm!.FullName">
        @Html.ValidationMessageFor(model => model.RegisterForm!.FullName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="birthDate">Birth Date:</label>
        <input type="date" class="form-control" id="birthDate" asp-for="RegisterForm!.BirthDate">
        @Html.ValidationMessageFor(model => model.RegisterForm!.BirthDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" asp-for="RegisterForm!.Email">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" asp-for="RegisterForm!.Phone">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Phone, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" asp-for="RegisterForm!.Password">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" asp-for="RegisterForm!.ConfirmPassword">
        @Html.ValidationMessageFor(model => model.RegisterForm!.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="identityCard">Identity Card:</label>
        <input type="text" class="form-control" id="identityCard" placeholder="Enter your identity card number" asp-for="RegisterForm!.IdentityCard">
        @Html.ValidationMessageFor(model => model.RegisterForm!.IdentityCard, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" asp-for="RegisterForm!.Gender">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
        @Html.ValidationMessageFor(model => model.RegisterForm!.Gender, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="logoAccount">Logo Account:</label>
        <input type="text" class="form-control" id="logoAccount" placeholder="Enter logo account (text only)" asp-for="RegisterForm!.LogoAccount">
        @Html.ValidationMessageFor(model => model.RegisterForm!.LogoAccount, "", new { @class = "text-danger" })
    </div>

    <div class="form-select">
        <label for="province">Province:</label>
        <select id="province" onchange="getDistricts()">
            @if (Model.ProvinceList != null)
            {
                <option>-- Select Province --</option>
                @foreach (var province in Model.ProvinceList)
                {
                    <option value="@province.ProvinceId">@province.ProvinceName</option>
                }
            }
        </select>
    </div>

    <div class="form-select">
        <label for="district">District:</label>
        <select id="district" disabled asp-for="RegisterForm!.AddressVM!.District!.DistrictId">
            <option value="">-- Select District --</option>
        </select>
    </div>

    <div class="form-group m-2">
        <label for="addressName">Address Name:</label>
        <input type="text" class="form-control" id="addressName" placeholder="Enter logo account (text only)" asp-for="RegisterForm!.AddressVM!.AddressName">
        @Html.ValidationMessageFor(model => model.RegisterForm!.AddressVM!.AddressName, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<script src="~/js/address.js" asp-append-version="true"></script>
