@using GiaSuService.Models.IdentityViewModel;
@*
   
*@
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Đăng nhập</h1>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
               
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Identity", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group pb-3">
                            @Html.LabelFor(m => m.LoginName, "Tên đăng nhập:")
                            @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control customform-control" })
                        </div>

                        <div class="form-group pb-3">
                            @Html.LabelFor(m => m.Password, "Mật khẩu:")
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control customform-control" })
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary customstyle-button" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>