@using GiaSuService.Models.UtilityViewModel;
@model RegisterFormViewModel
@{
    ViewData["Title"] = "Trang đăng ký tài khoản khách hàng";
}

<h1>Đăng ký tài khoản khách hàng</h1>
<form asp-action="RegisterFormCustomer" asp-controller="Identity" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="RegisterForm!.Avatar">
    <input type="hidden" asp-for="RegisterForm!.FrontIdentityCard" />
    <input type="hidden" asp-for="RegisterForm!.BackIdentityCard" />

    <div class="form-group">
        <label for="fullName">Họ và tên:</label>
        <input type="text" class="form-control customform-control" id="fullName" placeholder="Nhập tên đầy đủ của bạn" asp-for="RegisterForm!.FullName">
        @Html.ValidationMessageFor(model => model.RegisterForm!.FullName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="birthDate">Ngày sinh:</label>
        <input type="date" class="form-control customform-control" id="birthDate" asp-for="RegisterForm!.BirthDate">
        @Html.ValidationMessageFor(model => model.RegisterForm!.BirthDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="gender">Giới tính:</label>
        <select class="form-control customform-control" id="gender" asp-for="RegisterForm!.Gender">
            <option value="M">Nam</option>
            <option value="F">Nữ</option>
        </select>
        @Html.ValidationMessageFor(model => model.RegisterForm!.Gender, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control customform-control" id="email" placeholder="Nhập email" asp-for="RegisterForm!.Email">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input type="tel" class="form-control customform-control" id="phone" placeholder="Nhập số điện thoại" asp-for="RegisterForm!.Phone">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Phone, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="identityCard">Số CMND/ CCCD:</label>
        <input type="text" class="form-control customform-control" id="identityCard" placeholder="Nhập số CCCD của bạn" asp-for="RegisterForm!.IdentityCard">
        @Html.ValidationMessageFor(model => model.RegisterForm!.IdentityCard, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="frontCard" class="customstyle-label">Mặt trước CMND/ CCCD:</label>
        <img id="frontCard" src="@Model.RegisterForm!.FrontIdentityCard" width="250" height="150" alt="Chưa upload ảnh" />

        <input id="newFrontCard" type="file" class="form-control customform-control" style="display: none;"
               name="frontCard" accept="image/*" onchange="previewImage('newFrontCard', 'frontCard', 'frontCardMsg')" />
        <button type="button" id="changeFrontCard" class="btn btn-primary customstyle-button"
                onclick="changeImage('newFrontCard')">
            Chọn ảnh
        </button>

        <span id="frontCardMsg" style="display: none" class="text-danger">Vui lòng upload mặt trước của CMND/CCCD</span>
    </div>
    <div class="form-group">
        <label for="backCard" class="customstyle-label">Mặt sau CMND/ CCCD:</label>
        <img id="backCard" src="@Model.RegisterForm!.BackIdentityCard" width="250" height="150" alt="Chưa upload ảnh" />

        <input id="newBackCard" type="file" class="form-control customform-control" style="display: none;"
               name="backCard" accept="image/*" onchange="previewImage('newBackCard', 'backCard', 'backCardMsg')" />
        <button type="button" id="changeBackCard" class="btn btn-primary customstyle-button"
                onclick="changeImage('newBackCard')">
            Chọn ảnh
        </button>

        <span id="backCardMsg" style="display: none" class="text-danger">Vui lòng upload mặt sau của CMND/CCCD</span>
    </div>
    
    @* Does need to upload avatar when register new account ? *@
    @* <div class="form-group">
        <label for="Avatar">Logo:</label>
        <input type="text" class="form-control customform-control" id="Avatar" placeholder="Nhập logo" asp-for="RegisterForm!.Avatar">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Avatar, "", new { @class = "text-danger" })
    </div> *@
    
    <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" class="form-control customform-control" id="password" placeholder="Nhập mật khẩu đăng ký" asp-for="RegisterForm!.Password">
        @Html.ValidationMessageFor(model => model.RegisterForm!.Password, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <label for="confirmPassword">Nhập lại mật khẩu:</label>
        <input type="password" class="form-control customform-control" id="confirmPassword" placeholder="Nhập lại mật khẩu" asp-for="RegisterForm!.ConfirmPassword">
        @Html.ValidationMessageFor(model => model.RegisterForm!.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="province">Tỉnh/ Thành phố:</label>
        <select class="form-select customform-control" id="province" onchange="getDistricts()">
            @if (Model.ProvinceList != null)
            {
                @foreach (var province in Model.ProvinceList)
                {
                    <option value="@province.ProvinceId">@province.ProvinceName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="district">Quận/ Huyện:</label>
        <select class="form-select customform-control" id="districtSelectionContainer" asp-for="RegisterForm!.SelectedDistrictId">
        </select>
    </div>

    <div class="form-group">
        <label for="addressName">Địa chỉ:</label>
        <input type="text" class="form-control customform-control" id="addressName" placeholder="Địa chỉ chi tiết" asp-for="RegisterForm!.AddressName">
        @Html.ValidationMessageFor(model => model.RegisterForm!.AddressName, "", new { @class = "text-danger" })
    </div>
    
  
    <div class="form-group">
            <label for="confirm-box">Đã đọc các <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="text-decoration-none">điều khoản</a> trước khi đăng ký</label>
        <input class="form-check-input ms-1" id="confirm-box" type="checkbox" id="ConfirmBox" asp-for="ConfirmBox" required />
        <span asp-validation-for="ConfirmBox" class="text-danger"></span>
    </div>
    <div style="text-align: center !important;">
        <button type="submit" style="width: 30%;" class="btn btn-primary customstyle-button">Đăng ký</button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        getDistricts(); // Call the getDistricts function when the view is first loaded
    });

    $(document).ready(function () {
        // Add a submit event listener to the form
        $("form").submit(function (event) {
            var canSubmit = true;

            // Check if both newFrontCard and newBackCard have files uploaded
            var frontCardInput = document.getElementById('newFrontCard');
            var backCardInput = document.getElementById('newBackCard');

            var frontCardMsg = document.getElementById('frontCardMsg');
            var backCardMsg = document.getElementById('backCardMsg');

            if (!frontCardInput.files || frontCardInput.files.length === 0) {
                frontCardMsg.style.display = "block";
                canSubmit = false;
            }

            if (!backCardInput.files || backCardInput.files.length === 0) {
                backCardMsg.style.display = "block";
                canSubmit = false;
            }

            if (!canSubmit) {
                event.preventDefault(); // Prevent form submission

                // Show an alert or message
                alert('Vui lòng kiểm tra lại các dữ liệu đã nhập ở trên.'); 

                return false; // Stop form submission
            }

            // Proceed with form submission if files are uploaded
            return true;
        });
    });

    function getDistricts() {
        $("#provincedefault").remove();

        var selectedIdProvince = $("#province").val();
        $.ajax({
            url: `/Identity/Districts`,
            type: 'GET',
            data: { 'provinceId': selectedIdProvince },
            success: function (data) {
                $("#districtSelectionContainer").empty(); // Replace the content with updated data
                for (var i = 0; i < data.length; i++) {
                    $("#districtSelectionContainer").append($('<option></option>').val(data[i].districtId).text(data[i].districtName));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error fetching districts:", textStatus, errorThrown);
            }
        });
    }

    // Add event when click button changeImage then show file explorer to choose new image
    function changeImage(inputId) {
        var input = document.getElementById(inputId);   //input file id
        if (input) {
            input.click(); // Trigger click on file input
        } else {
            console.error('File input with id "' + inputId + '" not found.');
        }
    }

    // Preview image on image tag after choosing a new image from input tag
    function previewImage(inputId, imageId, imageMsgId) {
        var input = document.getElementById(inputId);   //input file id
        var image = document.getElementById(imageId);   //image tag id
        var msg = document.getElementById(imageMsgId);   //image message upload id

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                image.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
            msg.style.display = 'none';
        }
    }

</script>
