@using System.Security.Claims;
@using GiaSuService.Configs;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GiaSuService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GiaSuService.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bar.css" />
    <link rel="stylesheet" href="~/css/custom-style.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head> 
<body>
    @{
        bool isAuth = User.Identity?.IsAuthenticated ?? false;
        var roleName = isAuth ? User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value : "";
        var avatar = isAuth ? User.Claims.FirstOrDefault(p => p.Type == AppConfig.CLAIM_TYPE_AVATAR)?.Value : "";
        var fullName = isAuth ? User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Name)?.Value : "";
        string count_query = (TempData["Count"] as string)!;
    }
    
        <div class="page-wrapper chiller-theme toggled">
           <!-- <div id="header" class="align-content-center">
                <div id="header-title">
                    <img src="~/logo.png" alt="" width="60" />
                </div>
            </div>
         -->
            <a id="show-sidebar" class="btn btn-lg" href="#">
                <i class="fa fa-angle-right"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                        <a href="/">
                            <img src="~/logo.png" class="" alt="" width="50" />
                            TutorLight
                        </a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                @if(isAuth)
                {
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="@avatar"
                                 alt="User picture"/>
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                @fullName
                            </span>
                            <span class="user-role">@roleName</span>
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span>Online</span>
                            </span>
                        </div>
                    </div>
                }
                <!-- sidebar-header  -->
                @if(roleName != AppConfig.EMPLOYEEROLENAME)
                {
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Phụ Huynh</span>
                        </li>
                        <li class="sidebar">
                            <a href="@Url.Action("TutorList","Home")">
                                <i class="fa fa-address-card"></i>
                                <span>Danh sách gia sư</span>
                            </a>
                        </li>
                        @if(!isAuth || roleName == AppConfig.CUSTOMERROLENAME){
                            <li class="sidebar">
                                <a href="@Url.Action("TutorRequestForm", "Customer")">
                                    <i class="fa fa-sign-in-alt"></i>
                                    <span>Đăng ký tìm gia sư</span>
                                </a>
                            </li>
                        }
                        <li class="header-menu">
                            <span>Gia sư</span>
                        </li>
                        <li>
                            <a href="@Url.Action("TutorRequestList", "Tutor")">
                                <i class="fa fa-calendar"></i>
                                <span>Lớp mới cần gia sư</span>
                            </a>
                        </li>
                        @if (roleName == AppConfig.CUSTOMERROLENAME)
                        {
                            <li>
                                <a href="@Url.Action("CustomerListTutorRequest", "Customer")">
                                    <i class="fa fa-calendar"></i>
                                    <span>Các đơn tìm gia sư của tôi</span>
                                </a>
                            </li>
                        }

                        @if(roleName == AppConfig.TUTORROLENAME)
                        {
                            <li>
                                <a href="@Url.Action("ListTutorApplyForm", "Tutor")">
                                    <i class="fa fa-check-circle"></i>
                                    <span>Các đơn đã ứng tuyển</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("TutorProfileStatusHistory", "Tutor")">
                                    <i class="fa fa-inbox"></i>
                                    <span>Lịch sử thông tin của tôi</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("TutorTransactionList", "Tutor")">
                                    <i class="fa fa-history"></i>
                                    <span>Lịch sử giao dịch</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                }
                
                
                @if(roleName == AppConfig.EMPLOYEEROLENAME)
                {
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>Nhân viên</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span>Quản lý gia sư</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li class="sidebar">
                                            <a href="@Url.Action("TutorList", "Employee")">
                                                <i class="fa fa-address-book"></i>
                                                <span>Danh sách gia sư</span>
                                            </a>
                                        </li>
                                        <li class="sidebar">
                                            <a href="@Url.Action("TutorRegisterQueue", "Employee")">
                                                <i class="fa fa-address-card"></i>
                                                <span>Danh sách yêu cầu tạo tài khoản gia sư</span>
                                            </a>
                                        </li>
                                        <li class="sidebar">
                                            <a href="@Url.Action("TutorUpdateQueue", "Employee")">
                                                <i class="fa fa-question"></i>
                                                <span>Danh sách yêu cầu muốn đổi thông tin</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                    <span>Quản lý đơn tìm gia sư</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li class="sidebar">
                                            <a href="@Url.Action("TutorRequestQueue", "Employee")">
                                                <i class="fa fa-envelope"></i>
                                                <span>Đơn đăng ký tìm gia sư</span>
                                            </a>
                                        </li>
                                        <li class="sidebar">
                                            <a href="@Url.Action("TutorRequestList", "Employee")">
                                                <i class="fa fa-book"></i>
                                                <span>Danh sách đơn tìm gia sư</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                }
                
                @if(roleName == AppConfig.ADMINROLENAME)
                {
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>Admin</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-align-left"></i>
                                    <span>Thống kê</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("StatisticAccount", "Statistic")">
                                                <i class="fa fa-tachometer-alt"></i>
                                                Thống kê số tài khoản
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("StatisticTutorRequest", "Statistic")">
                                                <i class="fa fa-check-circle"></i>
                                                Thống kê số đơn tìm gia sư
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Thống kê số tiền
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-laptop"></i>
                                    <span>Quản lý nhân viên</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li class="sidebar">
                                            <a href="@Url.Action("EmployeeList", "Admin")">
                                                <i class="fa fa-list-ol"></i>
                                                <span>Danh sách nhân viên</span>
                                            </a>

                                        </li>
                                        <li class="sidebar">
                                            <a href="@Url.Action("Register", "Admin")">
                                                <i class="fa fa-plus"></i>
                                                <span>Tạo nhân viên</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span>Quản lý học phần</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li class="sidebar">
                                            <a href="@Url.Action("SessionDateManager", "Admin")">
                                                <i class="fa fa-cog"></i>
                                                <span>Quản lý loại buổi học</span>
                                            </a>
                                        </li>
                                        <li class="sidebar">
                                            <a href="@Url.Action("SubjectManager", "Admin")">
                                                <i class="fa fa-wrench"></i>
                                                <span>Quản lý loại môn học</span>
                                            </a>
                                        </li>
                                        <li class="sidebar">
                                            <a href="@Url.Action("GradeManager", "Admin")">
                                                <i class="fa fa-cogs"></i>
                                                <span>Quản lý loại khối lớp</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                }
                
                @if(isAuth)
                {
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>Tài khoản</span>
                            </li>
                            <li class="sidebar">
                                <a href="@Url.Action("Profile", "Identity")">
                                    <i class="fa fa-info-circle"></i>
                                    <span>Thông tin tài khoản</span>
                                </a>
                            </li>
                            <li class="sidebar">
                                <a href="@Url.Action("Password", "Identity")">
                                    <i class="fa fa-info-circle"></i>
                                    <span>Đổi mật khẩu</span>
                                </a>
                            </li>
                            <li class="sidebar">
                                <a href="@Url.Action("Logout", "Identity")">
                                    <i class="fa fa-sign-out-alt"></i>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>Tài khoản</span>
                            </li>
                            <li>
                                <a href="@Url.Action("RegisterFormTutor", "Identity")">
                                    <i class="fa fa-book"></i>
                                    <span>Đăng ký làm gia sư</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RegisterFormCustomer", "Identity")">
                                    <i class="fa fa-user-plus"></i>
                                    <span>Đăng ký tài khoản</span>
                                </a>
                            </li>
                            <li class="sidebar">
                                <a href="@Url.Action("Index", "Identity")">
                                    <i class="fa fa-sign-in-alt"></i>
                                    <span>Đăng nhập tài khoản</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }

                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper custom-sizebarwrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="container">
                    <main role="main" class="pb-3">
                        <partial name="_Notification" />
                        @RenderBody()
                    </main>
                </div>

                    <!--
                                  <footer class="text-center">
                                      <div class="mb-2">
                                          <small>
                                              © 2024 made with <i class="fa fa-heart" style="color:red"></i>
                                          </small>
                                      </div>
                                      <div>

                                      </div>
                                  </footer>
                                  -->
                </div>
                <!--footer-->



                <footer class="text-center text-lg-start text-dark footer-page">
                    <!-- Grid container -->
                    <div class="container p-2">
                        <!--Grid row-->
                        <div class="row my-2">
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-2 mb-md-0">

                                <div class=" rounded-circle d-flex align-items-center justify-content-center mx-auto" style="background-color: var( --bs-body-bg); width: 110px; height: 110px;">
                                    <img src="~/logo.png" height="100" alt=""
                                         loading="lazy" />
                                </div>

                                <div class="text-center text-dark">
                                    <p>TutorLight</p>
                                 
                                </div>

                                

                            </div>
                            <!--Grid column-->
                            <!--
                            <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
                                <h5 class="text-uppercase mb-2 text-dark">Mạng xã hội</h5>

                               
                                <ul class="list-unstyled text-dark text-decoration-none">
                                    <li>
                                        <p><i class="fab fa-facebook-square pe-2">Facebook</i><p>
                                    </li>
                                    <li>
                                        <p><i class="fab fa-instagram pe-2">Instagram</i></p>
                                    </li>
                                    <li>
                                        <p><i class="fab fa-youtube pe-2 mb-0">Youtube</i></p>
                                    </li>
                                </ul>
                            </div>
                            -->
                            <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-2 mb-md-0">
                            <h5 class="text-uppercase mb-2 text-dark text-start ">Về chúng tôi</h5>

                            <ul class="list-unstyled text-dark">
                                <li>
                                    <p><i class="fa fa-graduation-cap pe-2"></i>Liên hệ</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-graduation-cap pe-2"></i>Chính sách bảo mật</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-graduation-cap pe-2 mb-0"></i>Điều khoản</p>
                                </li>
                            </ul>
                        </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-2 mb-md-0">
                            <h5 class="text-uppercase mb-2 text-dark text-start">Liên hệ</h5>

                                <ul class="list-unstyled text-dark">
                                    <li>
                                        <p><i class="fas fa-map-marker-alt pe-2"></i>Warsaw, 57 Street, Poland</p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@example.com</p>
                                    </li>
                                </ul>
                            </div>
                     

                        </div>
                   
                        <div class="container overflow-hidden">
                            <div class="row">
                                <div class="col">
                                    <div class="footer-copyright-wrapper text-center">
                                        <small>
                                            &copy; TutorLight 2024. All Rights Reserved.
                                        </small>
                                    </div>
                                    <!--
                                                        <div class="credits text-secondary text-center fs-7">
                                            <small>Built by <a href="https://www.youtube.com/watch?v=YQHsXMglC9A" class="link-secondary text-decoration-none">Group One</a> with <i class="fa fa-heart" style="color:blue"></i></small>
                                        </div>
                                        -->
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--Grid row-->
             
                    <!-- Grid container -->
                   
                 
                </footer>


                <!-- End of .container -->
                <!--footer-->
            </main>

        </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bar.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
