@using GiaSuService.Configs;
@using GiaSuService.Models.TutorViewModel;
@model IEnumerable<TutorApplyFormViewModel>
@{
    ViewData["Title"] = "List Tutor Apply Form";
}
<div class="container">
    <h1 class="h3">Danh sách các đơn đã ứng tuyển</h1>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex m-3">
                        <div class="row w-100">
                            <div class="col-md-9">
                                @* Khi release phai an ma don duoi dang input hidden *@
                                @* <input type="hidden" asp-for="@item.RequestId" /> *@

                                <h5 class="mb-1">@item.SubjectName - @item.GradeName</h5>

                                <small>Mã yêu cầu: @item.RequestId</small>

                                <p class="mb-1">Ngày hết hạn: @item.ExpiredDate</p>

                                <p class="mb-1">Số lượng học sinh: @item.Students</p>

                                @if (!string.IsNullOrEmpty(item.AdditionalDetail))
                                {
                                    <p class="mt-3 mb-0">Thông tin thêm: @item.AdditionalDetail</p>
                                }
                                else
                                {
                                    <p class="mt-3 mb-0">Thông tin thêm: Không có</p>
                                }
                            </div>
                            <div class="col-md-3 row">
                                <div class="col-md-7 d-flex justify-content-center align-items-center">
                                    <a href="@Url.Action("TutorRequestProfile", "Tutor", new{requestId = item.RequestId, queueStatus = item.StatusName})" 
                                    class="btn btn-sm btn-outline-primary me-2 customstyle-button">Chi tiết</a>
                                    
                                    
                                    @* @if (item.StatusName == AppConfig.QueueStatus.PENDING.ToString().ToLower() ||
                                         item.StatusName == AppConfig.QueueStatus.APPROVAL.ToString().ToLower())
                                    {
                                        <a href="@Url.Action("CancelApplyRequest", "Tutor", new{requestId = item.RequestId})" class="btn btn-sm btn-outline-primary me-2">Cancel</a>
                                    } *@
                                   
                                </div>
                                <div class="col-md-5 d-flex justify-content-end align-items-center">
                                    @if (item.StatusName == AppConfig.QueueStatus.DENY.ToString().ToLower() ||
                                        item.StatusName == AppConfig.QueueStatus.CANCEL.ToString().ToLower())
                                    {
                                        <span class="badge bg-danger rounded-pill ms-auto">@item.StatusName</span>
                                    }
                                    @if (item.StatusName == AppConfig.QueueStatus.PENDING.ToString().ToLower())
                                    {
                                        <span class="badge bg-info rounded-pill ms-auto">@item.StatusName</span>
                                    }
                                    @if (item.StatusName == AppConfig.QueueStatus.APPROVAL.ToString().ToLower() ||
                                         item.StatusName == AppConfig.QueueStatus.HANDOVER.ToString().ToLower())
                                    {
                                        <span class="badge bg-success rounded-pill ms-auto">@item.StatusName</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>