@using GiaSuService.Configs;
@using GiaSuService.Models.TutorViewModel;
@model IEnumerable<TutorApplyCardViewModel>
@{
    ViewData["Title"] = "Danh sách các đơn đã ứng tuyển";
}
<div class="container">
    <h1 class="h3">Danh sách các đơn đã ứng tuyển</h1>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex m-3">
                        <div class="row w-100">
                            <div class="col-md-9">
                                <h5 class="mb-1">@item.SubjectName - @item.GradeName</h5>

                                <p class="mb-1">Mã đơn tìm gia sư: @item.RequestId</p>

                                @* Trạng thái đơn tìm gia sư *@
                                <div style="display: flex; flex-direction:row; justify-content: left">
                                    <p class="mb-1" style="margin-right: 4px;">Trạng thái đơn tìm gia sư:</p>

                                    @if (item.RequestStatus == AppConfig.FormStatus.DENY.ToString().ToLower() ||
                                         item.RequestStatus == AppConfig.FormStatus.CANCEL.ToString().ToLower())
                                    {
                                        <p class="badge bg-danger rounded-pill" style="margin-top:2px">@item.RequestStatusDescription</p>
                                    }

                                    @if (item.RequestStatus == AppConfig.FormStatus.APPROVAL.ToString().ToLower() ||
                                         item.RequestStatus == AppConfig.FormStatus.HANDOVER.ToString().ToLower())
                                    {
                                        <p class="badge bg-success rounded-pill" style="margin-top:2px">@item.RequestStatusDescription</p>
                                    }
                                </div>

                                @* Trạng thái đơn ứng tuyển *@
                                <div style="display: flex; flex-direction:row; justify-content: left">
                                    <p class="mb-1" style="margin-right: 4px;">Trạng thái ứng tuyển:  </p>
                                    @if (item.QueueStatus == AppConfig.QueueStatus.DENY.ToString().ToLower() ||
                                         item.QueueStatus == AppConfig.QueueStatus.CANCEL.ToString().ToLower())
                                    {
                                        <p class="badge bg-danger rounded-pill" style="margin-top:2px">@item.QueueStatusDescription</p>
                                    }

                                    @if (item.QueueStatus == AppConfig.QueueStatus.PENDING.ToString().ToLower())
                                    {
                                        <p class="badge bg-info rounded-pill" style="margin-top:2px">@item.QueueStatusDescription</p>
                                    }

                                    @if (item.QueueStatus == AppConfig.QueueStatus.APPROVAL.ToString().ToLower() ||
                                         item.QueueStatus == AppConfig.QueueStatus.HANDOVER.ToString().ToLower() ||
                                         item.QueueStatus == AppConfig.QueueStatus.REFUND.ToString().ToLower()  )
                                    {
                                        <p class="badge bg-success rounded-pill" style="margin-top:2px">@item.QueueStatusDescription</p>
                                    }
                                </div>

                                <p class="mb-1">Số lượng học sinh: @item.NStudents</p>

                                <p class="mb-1">Địa điểm: @item.Location</p>

                            </div>
                            <div class="col-md-3 row">
                                <div class=" d-flex justify-content-center align-items-center">
                                    <a href="@Url.Action("TutorRequestProfile", "Tutor", new{requestId = item.RequestId})" 
                                    class="btn btn-sm btn-outline-primary me-2 customstyle-button">Chi tiết</a>
                                    
                                    
                                    @* @if (item.StatusName == AppConfig.QueueStatus.PENDING.ToString().ToLower() ||
                                         item.StatusName == AppConfig.QueueStatus.APPROVAL.ToString().ToLower())
                                    {
                                        <a href="@Url.Action("CancelApplyRequest", "Tutor", new{requestId = item.RequestId})" class="btn btn-sm btn-outline-primary me-2">Cancel</a>
                                    } *@
                                   
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>