@using GiaSuService.Models.IdentityViewModel
@using System.Security.Claims
@using GiaSuService.Configs;

@model TutorProfileViewModel


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="text-align: center;">
                <img src="@Model.Avatar" alt="Ảnh đại diện của @Model.Fullname" class="img-thumbnail" style="width: 200px; height: 200px;  margin-bottom: 10px;" />
                <button class="btn btn-primary customstyle-button" onclick="">Đổi ảnh đại diện</button>
            </div>
        </div>
        <div class="col-md-8">
            <form method="post" asp-action="UpdateProfile">

                <h1>Thông tin tài khoản</h1>

                <input type="hidden" asp-for="AccountId" />
                <input type="hidden" asp-for="IdentityId" />
                <input type="hidden" asp-for="TutorId" />
                <input type="hidden" asp-for="LockEnable" />

                <div class="form-group">
                    <label asp-for="Createdate" style="margin-bottom: 10px;">Ngày tạo: @Model.Createdate.ToString("yyyy-MM-dd")</label>
                </div>

                @* Trạng thái gia sư đã được duyệt hoạt động trong hệ thống *@
                @* <div class="form-group">
                    <label asp-for="IsValid" style="margin-bottom: 10px;">Trạng thái duyệt hoạt động ???</label>
                </div> *@

                <div class="form-group">
                    <label asp-for="IsActive">Trạng thái dạy học:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input customformcheck-input" type="checkbox" asp-for="IsActive"
                               id="lockCheckbox" onchange="changeActiveStatus()" />
                        <label class="form-check-label" id="IsActiveLabel">
                            @if (@Model.IsActive)
                            {
                                <span class="text-success">Đang hoạt động</span>
                            }
                            else
                            {
                                <span class="text-danger">Dừng hoạt động</span>
                            }
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Fullname">Họ tên:</label>
                    <input type="text" asp-for="Fullname" class="form-control" style="margin-bottom: 10px;" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input type="text" asp-for="Email" class="form-control" style="margin-bottom: 10px;" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Số điện thoại:</label>
                    <input type="text" asp-for="Phone" class="form-control" style="margin-bottom: 10px;" />
                </div>
                <div class="form-group">
                    <label asp-for="Birth">Ngày sinh:</label>
                    <input type="date" asp-for="Birth" class="form-control" style="margin-bottom: 10px;" value="@Model.Birth.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label asp-for="Gender">Giới tính:</label>
                    <select class="form-control" asp-for="Gender" style="margin-bottom: 10px;">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="province">Tỉnh / Thành phố:</label>
                        <select class="form-select" asp-for="SelectedProvinceId" id="province" onchange="getDistricts()" style="margin-bottom: 10px;">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="district">Quận / Huyện:</label>
                        <select class="form-select" asp-for="SelectedDistrictId" id="district" style="margin-bottom: 10px;">
                        </select>
                    </div>

                    <label asp-for="AddressDetail">Số nhà, tên đường:</label>
                    <input type="text" asp-for="AddressDetail" class="form-control" style="margin-bottom: 10px;" />
                </div>
                <div class="form-group">
                    <label asp-for="IdentityCard">Số CMND/CCCD:</label>
                    <input type="text" asp-for="IdentityCard" class="form-control" style="margin-bottom: 10px;" />
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label asp-for="FrontIdentityCard">Mặt trước:</label>
                        <img src="@Model.FrontIdentityCard" width="200" height="150" alt="Mặt trước" style="margin-bottom: 10px;" />
                    </div>
                    <div class=col>
                        <label asp-for="BackIdentityCard">Mặt sau:</label>
                        <img src="@Model.BackIdentityCard" width="200" height="150" alt="Mặt sau" style="margin-bottom: 10px;" />
                    </div>
                </div>

                @* ----------------------------------------------Tutor Profile----------------------------------------------------------------- *@
                <div class="form-group">
                    <label asp-for="College">Trường đào tạo:</label>
                    <input type="text" asp-for="College"  class="form-control" style="margin-bottom: 10px;">
                </div>

                <div class="form-group">
                    <label asp-for="Area">Chuyên ngành:</label>
                    <input type="text" asp-for="Area" class="form-control" style="margin-bottom: 10px;">
                </div>
                <div class="form-group">
                    <label>Niên khóa:</label>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Academicyearfrom">Từ năm:</label>
                            <input type="number" asp-for="Academicyearfrom" class="form-control" style="margin-bottom: 10px;">
                        </div>
                        <div class="col-6">
                            <label asp-for="Academicyearto">Đến năm:</label>
                            <input type="number" asp-for="Academicyearto" class="form-control" style="margin-bottom: 10px;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @* <label asp-for="TypeTutor">Loại gia sư:</label>
                    <select class="form-select" asp-for="TypeTutor" style="margin-bottom: 10px;">
                        <option value="@false">Sinh viên</option>
                        <option value="@true">Gia Sư</option>
                    </select> *@
                </div>

                <div class="form-group">
                    <label asp-for="Additionalinfo">Thông tin thêm:</label>
                    <input type="text" asp-for="Additionalinfo" class="form-control" style="margin-bottom: 10px;">
                </div>

                @* <div class="form-group">
                    <label>Thời gian có thể dạy:</label>
                    <div class="row row-cols-3">
                        @for (int i = 0; i < Model.ListSessionDate.Count(); i++)
                        {
                            <div class="checkbox">
                                <label>
                                    @Html.HiddenFor(m => m.ListSessionDate[i].SessionId)
                                    @Html.CheckBoxFor(m => m.ListSessionDate[i].IsChecked, new { @class = "form-check-input customformcheck-input" })
                                    @Model.ListSessionDate[i].SessionName
                                </label>
                            </div>
                        }
                    </div>
                </div> *@

                @* <div class="form-group">
                    <label>Môn học có thể dạy:</label>
                    <div class="row row-cols-3">
                        @for (int i = 0; i < Model.ListSubject.Count(); i++)
                        {
                            <div class="checkbox">
                                <label>
                                    @Html.HiddenFor(m => m.ListSubject[i].SubjectId)
                                    @Html.CheckBoxFor(m => m.ListSubject[i].IsChecked, new { @class = "form-check-input customformcheck-input" })
                                    @Model.ListSubject[i].SubjectName
                                </label>
                            </div>
                        }
                    </div>
                </div> *@

                @* <div class="form-group">
                    <label>Khối lớp có thể dạy:</label>
                    <div class="row row-cols-3">
                        @for (int i = 0; i < Model.ListGrade.Count(); i++)
                        {
                            <div class="checkbox">
                                <label>
                                    @Html.HiddenFor(m => m.ListGrade[i].GradeId)
                                    @Html.CheckBoxFor(m => m.ListGrade[i].IsChecked, new { @class = "form-check-input customformcheck-input" })
                                    @Model.ListGrade[i].GradeName
                                </label>
                            </div>
                        }
                    </div>
                </div> *@

                @* <div class="form-group">
                    <label>Khu vực có thể dạy:</label>
                    <div class="row row-cols-3" id="districtCheckBoxes">
                    </div>
                </div> *@

                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary customstyle-button" style="margin-top: 5px;">Cập nhật</button>
                </div>

            </form>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                firstLoad(); // Call the getProvinces function when the view is first loaded
                changeActiveStatus();
            });

            function changeActiveStatus() {
                var checkbox = document.getElementById("lockCheckbox");
                var label = document.getElementById("IsActiveLabel");

                checkbox.addEventListener("change", function () {
                    if (checkbox.checked) {
                        label.textContent = "Đang hoạt động";
                        label.classList.add("text-success");
                        label.classList.remove("text-danger");
                    } else {
                        label.textContent = "Dừng hoạt động";
                        label.classList.remove("text-success");
                        label.classList.add("text-danger");
                    }
                });
            }

            function firstLoad() {
                var selectedProvinceId = "@Model.SelectedProvinceId";
                $.ajax({
                    url: `/Identity/Provinces`,
                    type: 'GET',
                    success: function (data) {
                        $("#province").empty();
                        for (var i = 0; i < data.length; i++) {
                            var option = $('<option></option>').val(data[i].provinceId).text(data[i].provinceName);
                            if (data[i].provinceId == selectedProvinceId) {
                                option.prop('selected', true);
                            }
                            $("#province").append(option);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error fetching provinces:", textStatus, errorThrown);
                    }
                });

                var selectedDistrictId = "@Model.SelectedDistrictId";
                $.ajax({
                    url: `/Identity/Districts`,
                    type: 'GET',
                    data: { 'provinceId': selectedProvinceId },
                    success: function (data) {
                        $("#district").empty();
                        for (var i = 0; i < data.length; i++) {
                            var option = $('<option></option>').val(data[i].districtId).text(data[i].districtName);
                            if (data[i].districtId == selectedDistrictId) {
                                option.prop('selected', true);
                            }
                            $("#district").append(option);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error fetching districts:", textStatus, errorThrown);
                    }
                });
            }

            function getDistricts() {
                var selectedProvinceId = $("#province").val();
                var selectedDistrictId = "@Model.SelectedDistrictId";

                $.ajax({
                    url: `/Identity/Districts`,
                    type: 'GET',
                    data: { 'provinceId': selectedProvinceId },
                    success: function (data) {
                        $("#district").empty();
                        for (var i = 0; i < data.length; i++) {
                            var option = $('<option></option>').val(data[i].districtId).text(data[i].districtName);
                            if (data[i].districtId == selectedDistrictId) {
                                option.prop('selected', true);
                            }
                            $("#district").append(option);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error fetching districts:", textStatus, errorThrown);
                    }
                });
            }
        </script>
    </div>
</div>


