@using GiaSuService.Models.TutorViewModel
@using GiaSuService.Configs;
@model RequestTutorApplyDetailViewModel
@{
    ViewData["Title"] = "Request Detail";
}

<div class="container">
    <h1 class="pb-3">Chi tiết yêu cầu</h1>
    <div class="row">
        <div class="col-sm-5 border-end">
            <h5>Thông tin đơn tìm gia sư</h5>
            <hr />
            <dl>
                <dt>Ngày tạo:</dt>
                <dd>@Model.CreatedDate.ToString("dd/MM/yyyy")</dd>

                <dt>Ngày hết hạn:</dt>
                <dd>@Model.ExpiredDate.ToString("dd/MM/yyyy")</dd>

                <dt>Trạng thái yêu cầu:</dt>
                <dd>@Model.RequestStatus</dd>

                <dt>Số lượng học sinh:</dt>
                <dd>@Model.NStudent</dd>

                @if (Model.QueueStatus == AppConfig.QueueStatus.HANDOVER.ToString().ToLower())
                {
                    <dt>Tên khách hàng:</dt>
                    <dd>@Model.CustomerFullName</dd>
                }

                <dt>Khối lớp:</dt>
                <dd>@Model.GradeName</dd>

                <dt>Tên môn học:</dt>
                <dd>@Model.SubjectName</dd>

                @if (Model.QueueStatus == AppConfig.QueueStatus.HANDOVER.ToString().ToLower())
                {
                    <dt>Địa chỉ chi tiết:</dt>
                    <dd>@Model.Address</dd>
                }

                <dt>Địa chỉ:</dt>
                <dd>@Model.Location</dd>

                <dt>Thông tin thêm:</dt>
                <dd>@Model.AdditionalDetail</dd>
            </dl>
        </div>
        
        <hr />


    </div>
    <div class="d-flex justify-content-center">

        @if ( (Model.RequestStatus == AppConfig.FormStatus.APPROVAL.ToString() || 
               Model.RequestStatus == AppConfig.FormStatus.HANDOVER.ToString()) 
               &&
              (Model.QueueStatus == AppConfig.QueueStatus.PENDING.ToString().ToLower() ||
               Model.QueueStatus == AppConfig.QueueStatus.APPROVAL.ToString().ToLower()) )
        {
            <a class="btn btn-danger m-2" href="@Url.Action("CancelApplyRequest", "Tutor", new { requestId=@Model.RequestId})">Huỷ ứng tuyển</a>
        }
        
    </div>


</div>