@using GiaSuService.Models.EmployeeViewModel;
@model TutorTransactionDetailViewModel
@{
    ViewData["Title"] = "Chi tiết giao dịch";
}
<div class="container">
    <div class="d-flex" style="text-align: center; justify-content:left; margin-bottom: 10px;">
        <a href="/Tutor/TutorTransactionList" class="text-decoration-none" style="padding: 5px 5px; display: inline-block;">
            <i class="fas fa-reply" aria-hidden="true"></i>
            Về lại lịch sử các giao dịch
        </a>
    </div>

    @if (Model.TransactionDeposit != null)
    {
        <div class="card">
            <div class="card-header">
                <h2>Hóa đơn thanh toán</h2>
            </div>
            <div class="card-body">
                <p><strong>Mã hoá đơn:</strong> @Model.TransactionDeposit.TransactionId</p>
                <p><strong>Nhân viên lập hoá đơn:</strong> @Model.TransactionDeposit.EmployeeName</p>
                <p><strong>Tên khách hàng (gia sư):</strong> @Model.TransactionDeposit.TutorName</p>
                <p><strong>Ngày tạo hoá đơn:</strong> @Model.TransactionDeposit.CreateDate</p>
                <p><strong>Ngày thanh toán:</strong> @(string.IsNullOrEmpty(Model.TransactionDeposit.PaymentDate) ? "Chưa thanh toán" : Model.TransactionDeposit.PaymentDate)</p>
                <p><strong>Số tiền:</strong> @string.Format("{0:#,0} VNĐ", Model.TransactionDeposit.Price)</p>
                <p><strong>Nội dung:</strong> @Model.TransactionDeposit.Context</p>
            </div>
        </div>
    }

    @if (Model.TransactionRefund != null)
    {
        <div class="card mt-3">
            <div class="card-header">
                <h2>Hóa đơn hoàn tiền</h2>
            </div>
            <div class="card-body">
                <p><strong>Mã hoá đơn:</strong> @Model.TransactionRefund.TransactionId</p>
                <p><strong>Tên nhân viên lập hoá đơn:</strong> @Model.TransactionRefund.EmployeeName</p>
                <p><strong>Tên khách hàng (gia sư):</strong> @Model.TransactionRefund.TutorName</p>
                <p><strong>Ngày tạo hoá đơn hoàn tiền:</strong> @Model.TransactionRefund.CreateDate</p>
                <p><strong>Ngày hoàn tiền:</strong> @(string.IsNullOrEmpty(Model.TransactionRefund.PaymentDate) ? "Chưa thanh toán" : Model.TransactionRefund.PaymentDate)</p>
                <p><strong>Nội dung:</strong> @Model.TransactionRefund.Context</p>
                <p><strong>Số tiền:</strong> @string.Format("{0:#,0} VNĐ", Model.TransactionRefund.Price)</p>
            </div>
        </div>
    }
</div>