@using GiaSuService.Models.IdentityViewModel;
@model TutorProfileViewModel

@{
    ViewData["Title"] = "Chi tiết tài khoản";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 border-end">
            <h2>Thông tin tài khoản</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Tên:</dt>
                <dd class="col-sm-8">@Model.Fullname</dd>
                <dt class="col-sm-4">Ngày sinh:</dt>
                <dd class="col-sm-8">@Model.Birth.ToString("dd-MM-yyyy")</dd>
                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@Model.Email</dd>
                <dt class="col-sm-4">Số điện thoại:</dt>
                <dd class="col-sm-8">@Model.Phone</dd>
                <dt class="col-sm-4">Số CCCD/ CMND:</dt>
                <dd class="col-sm-8">@Model.IdentityCard</dd>
                <dt class="col-sm-4">Giới tính:</dt>
                <dd class="col-sm-8">@Model.Gender</dd>
                <dt class="col-sm-4">Hai mặt Chứng minh thư:</dt>
                <dd class="col-sm-8 row">
                    <div class="col">
                        @if (!string.IsNullOrEmpty(Model.FrontIdentityCard))
                        {
                            <img src="@Model.Avatar" alt="Mặt trước CCCD" class="img-thumbnail" />
                        }
                        else
                        {
                            <span>Thiếu mặt trước CCCD/ CMND</span>
                        }
                    </div>
                    <div class="col">
                        @if (!string.IsNullOrEmpty(Model.BackIdentityCard))
                        {
                            <img src="@Model.Avatar" alt="Mặt sau CCCD" class="img-thumbnail" />
                        }
                        else
                        {
                            <span>Thiếu mặt sau CCCD/ CMND</span>
                        }
                    </div>

                </dd>

                <dt class="col-sm-4">Ngày tạo:</dt>
                <dd class="col-sm-8">
                    @Model.Createdate.ToString("dd-MM-yyyy")
                </dd>
                <dt class="col-sm-4">Địa chỉ:</dt>
                <dd class="col-sm-8">@Model.AddressDetail</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <img src="@Model.Avatar" alt="Avatar" class="img-thumbnail" />
                }
                else
                {
                    <span>Chưa tải lên ảnh đại diện</span>
                }
            </div>
            <h2>Thông tin gia sư</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Trường học:</dt>
                <dd class="col-sm-8">@Model.College</dd>
                <dt class="col-sm-4">Chuyên ngành:</dt>
                <dd class="col-sm-8">@Model.Area</dd>
                <dt class="col-sm-4">Thông tin thêm:</dt>
                <dd class="col-sm-8">@Model.Additionalinfo</dd>
                <dt class="col-sm-4">Từ năm:</dt>
                <dd class="col-sm-8">@Model.Academicyearfrom</dd>
                <dt class="col-sm-4">Đến năm:</dt>
                <dd class="col-sm-8">@Model.Academicyearto</dd>
                <dt class="col-sm-4">Loại gia sư:</dt>
                @* <dd class="col-sm-8">@Model.TypeTutor</dd> *@
                <dt class="col-sm-4">Tình trạng đơn:</dt>
                <dd class="col-sm-8">
                    <b>@Model.FormVietnameseStatusName</b>
                </dd>
            </dl>
        </div>
    </div>

    @* <div class="row mt-4 justify-content-end">
    <div class="col-auto">
    <a href="@Url.Action("ApplyTutor", "Employee", new {id = @Model.TutorId})" class="btn btn-primary">Apply</a>
    <a href="@Url.Action("DenyTutor", "Employee", new {id = @Model.TutorId})" class="btn btn-danger">Deny</a>
    </div>
    </div> *@
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            firstLoad(); // Call the getProvinces function when the view is first loaded
        });

        function firstLoad() {
            var selectedProvinceId = "@Model.SelectedProvinceId";
            $.ajax({
                url: `/Identity/Provinces`,
                type: 'GET',
                success: function (data) {
                    $("#province").empty();
                    for (var i = 0; i < data.length; i++) {
                        var option = $('<option></option>').val(data[i].provinceId).text(data[i].provinceName);
                        if (data[i].provinceId == selectedProvinceId) {
                            option.prop('selected', true);
                        }
                        $("#province").append(option);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching provinces:", textStatus, errorThrown);
                }
            });

            var selectedDistrictId = "@Model.SelectedDistrictId";
            $.ajax({
                url: `/Identity/Districts`,
                type: 'GET',
                data: { 'provinceId': selectedProvinceId },
                success: function (data) {
                    $("#district").empty();
                    for (var i = 0; i < data.length; i++) {
                        var option = $('<option></option>').val(data[i].districtId).text(data[i].districtName);
                        if (data[i].districtId == selectedDistrictId) {
                            option.prop('selected', true);
                        }
                        $("#district").append(option);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching districts:", textStatus, errorThrown);
                }
            });
        }

        function getDistricts() {
            var selectedProvinceId = $("#province").val();
            var selectedDistrictId = "@Model.SelectedDistrictId";

            $.ajax({
                url: `/Identity/Districts`,
                type: 'GET',
                data: { 'provinceId': selectedProvinceId },
                success: function (data) {
                    $("#district").empty();
                    for (var i = 0; i < data.length; i++) {
                        var option = $('<option></option>').val(data[i].districtId).text(data[i].districtName);
                        if (data[i].districtId == selectedDistrictId) {
                            option.prop('selected', true);
                        }
                        $("#district").append(option);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching districts:", textStatus, errorThrown);
                }
            });
        }
    </script>
</div>