@using GiaSuService.Models.TutorViewModel;
@using System.Security.Claims;
@using GiaSuService.Configs;

@model TutorRequestListViewModel;

@{
    ViewData["Title"] = "Danh sách các đơn đăng ký tìm gia sư";
}

@{
    bool isAuth = User.Identity?.IsAuthenticated ?? false; /* when having user login */
    var roleName = User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value;
    var tutorRoleName = AppConfig.TUTORROLENAME;
}

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-6 d-flex justify-content-center mb-2">
            <select id="province" class="form-select customform-select" onchange="getDistricts()">
                @if (Model.ProvinceList != null)
                {
                    <option value="0" id="provincedefault">Chọn tỉnh</option>
                    @foreach (var province in Model.ProvinceList)
                    {
                        <option value="@province.ProvinceId">@province.ProvinceName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mb-2">
            <select class="form-select customform-select" id="districtSelectionContainer">
                <option value="0">Chọn quận</option>
            </select>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mb-2">
            <select class="form-select customform-select" id="subject">
                @if (Model.SubjectList != null)
                {
                    <option value="0" id="provincedefault">Chọn môn học</option>
                    @foreach (var province in Model.SubjectList)
                    {
                        <option value="@province.SubjectId">@province.SubjectName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mb-2">
            <select class="form-select customform-select" id="grade">
                @if (Model.GradeList != null)
                {
                    <option value="0" id="provincedefault">Chọn khối lớp</option>
                    @foreach (var province in Model.GradeList)
                    {
                        <option value="@province.GradeId">@province.GradeName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-4 d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary customstyle-button" onclick="updateNewList()">Tìm kiếm</button>
        </div>
    </div>
    <hr />

    <div id="items-container" class="row">
    </div>

    <div id="pagination">
        <button id="prev-page" class="border-0">
            <i class="fas fa-chevron-left px-2"></i>
        </button>
        <span id="current-page" classs="px-2">Trang 1</span>
        <button id="next-page" class="border-0">
            <i class="fas fa-chevron-right px-2"></i>
        </button>
    </div>
</div>

<script>
    function getDistricts() {

        var selectedIdProvince = $("#province").val();
        $.ajax({
            url: `/Identity/Districts`,
            type: 'GET',
            data: { 'provinceId': selectedIdProvince },
            success: function (data) {
                $("#districtSelectionContainer").empty(); // Replace the content with updated data
                $("#districtSelectionContainer").append($('<option></option>').val(0).text('Chọn quận'));
                for (var i = 0; i < data.length; i++) {
                    $("#districtSelectionContainer").append($('<option></option>').val(data[i].districtId).text(data[i].districtName));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error fetching districts:", textStatus, errorThrown);
            }
        });
    }

    var currentPage = 0;
    
    function loadItems(pageNumber) {
        var selectedIdDistrict = $('#districtSelectionContainer').val();
        var selectedIdSubject = $('#subject').val();
        var selectedIdGrade = $('#grade').val();

        var isAuth = "@isAuth";
        var roleName = "@roleName";
        var tutorRoleName = "@tutorRoleName";

        $.getJSON("/Tutor/GetTutorRequestBy", { districtId: selectedIdDistrict, subjectId: selectedIdSubject, gradeId: selectedIdGrade, page: pageNumber })
            .done(function (data) {
                $("#items-container").empty(); // Clear existing items

                // Update page information
                $("#current-page").text(`Page ${data.page + 1}`);

                // Disable "Next Page" button if at the last page
                $("#next-page").prop("disabled", data.page === data.totalPages);
                $("#prev-page").prop("disabled", data.page === 0);
                currentPage = data.page;
                // Dynamically add items to the view
                $.each(data.queries, function (index, item) {
                    var additional_detail = item.additionalDetail ? `<p class="card-text"><b>Thông tin bổ sung:</b> ${item.additionalDetail}</p>` : "";
                
                    var itemHtml = `
                                <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="card">
                                        <div class="card-header bg-light">
                                        <h5 class="card-title">Lớp chưa giao</h5>
                                        </div>
                                        <div class="card-body">
                                                <p class="card-text"><b>Tên lớp:</b> ${item.subjectName}</p>
                                                <p class="card-text"><b>Khối lớp:</b> ${item.gradeName}</p>
                                                    ${additional_detail}
                                                <p class="card-text"><b>Địa điểm:</b> ${item.address}</p>
                                                <p class="card-text"><b>Các khung giờ có thể dạy:</b> ${item.sessionsCanTeach}</p>
                                        </div>

                                        <div class="d-flex justify-content-end m-2">
                                                ${isAuth === "False" || roleName === tutorRoleName
                                                    ? `<a href="#" class="register-btn btn btn-primary customstyle-button" onclick="registerRequest(${item.requestId})">Đăng ký ứng tuyển</a>`
                                                    : ``
                                                }    
                                        </div>
                                    </div>

                                </div>

                                        `;
                    $("#items-container").append(itemHtml);
                });
            });
    };

    function registerRequest(requestId) {
        // Navigate to the controller action with the item Id as a parameter
        window.location.href = `/Tutor/ApplyRequest?requestId=${requestId}`;
    }

    function updateNewList() {
        currentPage = 0;
        // Load initial page
        loadItems(currentPage);

        // Handle "Next Page" button click
        $("#next-page").click(function () {
            if (!$(this).prop("disabled")) {
                currentPage = currentPage + 1;
                loadItems(currentPage);
            }
        });

        // (Optional) Handle "Previous Page" button click (implement similar logic)
        $("#prev-page").click(function () {
            if (!$(this).prop("disabled")) {
                currentPage = currentPage - 1;
                loadItems(currentPage);
            }
        });
    };
    updateNewList();
</script>
