@using GiaSuService.Models.TutorViewModel;
@using GiaSuService.Configs;
@model IEnumerable<TutorProfileStatusDetailHistoryViewModel>
@{
    ViewData["Title"] = "Lịch sử tài khoản";
}
<h1>Lịch sử tài khoản</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Thứ tự</th>
            <th>Ngày tạo</th>
            <th>Nội dung</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(Model.ToList().IndexOf(item) + 1)</td>
                <td>@item.Date</td>
                <td>
                    @if (item.StatusType == AppConfig.RegisterStatus.UPDATE.ToString().ToLower())
                    {
                        <span>Chỉnh sửa thông tin</span>
                    }
                    else
                    {
                        <span>@item.Context</span>
                    }
                </td>
                <td>
                    @item.StatusVNamese
                </td>
                <td>
                    @if (item.StatusType == AppConfig.RegisterStatus.UPDATE.ToString().ToLower())
                    {
                        <a href="@Url.Action("TutorProfileStatusDetail", "Tutor", new {historyId = item.HistoryId})">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>