@using GiaSuService.Models.UtilityViewModel;
@model IEnumerable<TransactionDetailViewModel>

@{
    ViewBag.Title = "Lịch sử giao dịch";
}

<h1>Lịch sử giao dịch</h1>

<table class="table">
    <thead>
        <tr>
            <th>Gia sư</th>
            <th>Nhân viên</th>
            <th>Ngày tạo</th>
            <th>Ngày thanh toán</th>
            <th>Nội dung</th>
            <th>Số tiền</th>
            <th>Thông tin lớp học</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TutorName</td>
                <td>@transaction.EmployeeName</td>
                <td>@transaction.CreateDate</td>
                <td>@(!string.IsNullOrEmpty(transaction.PaymentDate) ? transaction.PaymentDate : "Chưa thanh toán")</td>
                <td>@transaction.Context</td>
                <td>@transaction.Price</td>
                <td>
                <a href="@Url.Action("TutorTransactionDetail", "Tutor", new{tutorId = transaction.TutorId, requestId = transaction.RequestId})"><i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>