@using GiaSuService.Configs;
@using GiaSuService.Models.EmployeeViewModel;
@using GiaSuService.Models.TutorViewModel;
@model TutorProfileStatusDetailHistoryViewModel
@{
    ViewData["Title"] = "Xem chi tiết chỉnh sửa";
}

@{
    // Define a dictionary to map property names to display names
    Dictionary<string, string> displayNameMapping = new Dictionary<string, string>()
    {
        { "Fullname", "Họ Tên" },
        { "Birth", "Năm sinh" },
        { "Email", "Email" },
        { "Phone", "Số điện thoại" },
        { "Gender", "Giới tính" },
        { "Avatar", "Avatar" },
        { "AddressDetail", "Address Detail" },
        { "IdentityCard", "Số Chứng minh thư" },
        { "FrontIdentityCard", "Front Identity Card" },
        { "BackIdentityCard", "Back Identity Card" },
        { "College", "Đại học" },
        { "Area", "Chuyên ngành" },
        { "Additionalinfo", "Thông tin thêm" },
        { "Academicyearfrom", "Năm bắt đầu học" },
        { "Academicyearto", "Năm tốt nghiệp" },
        { "FormatAddress", "Địa chỉ" },
        { "FormatTutorType", "Loại gia sư" },
        { "FormatTeachingArea", "Các khu vực có thể dạy" },
        { "FormatGrades", "Các khối có thể dạy" },
        { "FormatSessions", "Các buổi học có thể dạy" },
        { "FormatSubjects", "Các môn học có thể dạy" }
    };
}

<div class="container">
    <div>
        <dl>
            <dd>Ngày tạo:</dd>
            <dt>@Model.Date</dt>
        </dl>
    </div>
    <div class="row">
        <div class="col-md-6 border-end border-dark">
            <h2>Thông tin đã được phê duyệt trước đó</h2>
            <ul class="list-unstyled">
                @foreach (var property in typeof(TutorFormUpdateProfileViewModel).GetProperties())
                {
                    if (!displayNameMapping.ContainsKey(property.Name)) continue;
                    var originalValue = property.GetValue(Model.DetailOriginal);
                    var modifiedValue = property.GetValue(Model.DetailModified);

                    var displayName = displayNameMapping[property.Name];

                    if (property.Name.Equals("Avatar")
                    || property.Name.Equals("FrontIdentityCard")
                    || property.Name.Equals("BackIdentityCard"))
                    {
                        <li><strong>@displayName</strong>:<br /><img width="250" src="@originalValue" alt="image prepresent" /></li>
                    }
                    else if (!originalValue.Equals(modifiedValue))
                    {
                        <li><strong>@displayName</strong>: <s>@originalValue</s></li>
                    }
                    else
                    {
                        <li><strong>@displayName</strong>: @originalValue</li>
                    }
                }

            </ul>
        </div>

        <div class="col-md-6">
            <h2>Thông tin hiện tại</h2>
            <ul class="list-unstyled">
                @foreach (var property in typeof(TutorFormUpdateProfileViewModel).GetProperties())
                {
                    if (!displayNameMapping.ContainsKey(property.Name)) continue;

                    var originalValue = property.GetValue(Model.DetailOriginal);
                    var modifiedValue = property.GetValue(Model.DetailModified);

                    // Get the display name from the mapping, if it exists; otherwise, use the property name
                    var displayName = displayNameMapping[property.Name];

                    if (property.Name.Equals("Avatar")
                    || property.Name.Equals("FrontIdentityCard")
                    || property.Name.Equals("BackIdentityCard"))
                    {
                        <li><strong>@displayName</strong>: <br /> <img width="250" src="@modifiedValue" alt="image prepresent" /></li>
                    }
                    else if (!modifiedValue.Equals(originalValue))
                    {
                        <li><strong>@displayName</strong>: <b>@modifiedValue</b></li>
                    }
                    else
                    {
                        <li><strong>@displayName</strong>: @modifiedValue</li>
                    }

                }

            </ul>
        </div>
    </div>
    <div>
        <a href="@Url.Action("TutorProfileStatusHistory", "Tutor")" class="btn btn-info customstyle-button">Quay lại</a>
    </div>
</div>
